<!-- create_problem.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}CodeIN{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/main/create_problem.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="title_container">
        <button onclick="window.history.back()" class="title_btn">돌아가기</button>
        <p>문제 만들기</p>
    </div>
    <div class="form_container">
        <form method="post" onsubmit="return on_submit_handler(event);">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control form_input" id="title" name="title" maxlength="100" required
                       placeholder="예) 원하는 숫자 찾기">
                <div class="form-text">제목은 100자 이내입니다.</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">설명</label>
                <textarea type="text" class="form-control form_input" id="description" name="description"
                          required placeholder="예) 다음 배열에서 주어진 n의 갯수를 반환하시오." rows="10"></textarea>
            </div>
            <div class="mb-3 examples_container">
                <label for="exams_container" class="form-label">예제 입출력</label>
                <div id="exams_container">
                </div>
                <div class="exam_btn_container">
                    <div class="exam_btn">
                        <button onclick="example_add()" class="button" type="button">예제 추가</button>
                    </div>
                    <div class="exam_btn">
                        <button onclick="example_remove()" class="button" type="button">예제 삭제</button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="conditions_container" class="form-label">예제 조건</label>
                <div id="conditions_container">
                    <textarea name="conditions" id="conditions_input" class="form-control form_input" rows="5"
                              onchange="set_conditions(this.value)"></textarea>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">난이도</label>
                <select class="form-select form_input" id="difficulty" name="difficulty" required>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="mb-3">
                <button class="button" type="submit">완료</button>
                <button class="button" type="reset" onclick="input_reset()">초기화</button>
            </div>
        </form>
    </div>
</main>
<script>
    let examples = [];
    let example_count = 0;
    let conditions = [];

    const exams_container = document.getElementById('exams_container');
    const conditions_input = document.getElementById('conditions_input');
    conditions_input.placeholder = "예)\nn은 1 이상의 정수입니다\nlist는 2차원 리스트입니다.";

    function input_reset() {
        examples = [];
        example_count = 0;
        conditions = [];
        exams_container.innerHTML = '';
        example_add();
    }

    function set_conditions(value) {
        conditions = value.split("\n");
        console.log(conditions);
    }

    function update_example(index, field, value) {
        examples[index][field] = value;
    }

    function example_add() {
        const index = example_count;
        const new_example_pair = document.createElement('div');
        new_example_pair.classList.add('exam-pair');
        new_example_pair.innerHTML = `
            <label class="exam-label">예제 ${index + 1}</label>
            <div class="exam_fields">
                <div class="exam_input">
                    <label class="exam-label">입력</label>
                    <textarea class="form-control form_input" name="exam_input" required onchange="update_example(${index}, 'input', this.value)" placeholder="예) n = 2\nlist = [[1, 2], [2, 4]]" required></textarea>
                </div>
                <div class="exam_output">
                    <label class="exam-label">출력</label>
                    <textarea class="form-control form_input" name="exam_output" required onchange="update_example(${index}, 'output', this.value)" placeholder="2" required></textarea>
            </div>
        `;
        exams_container.appendChild(new_example_pair);

        examples.push({input: '', output: ''});
        example_count++;
    }

    function example_remove() {
        if (exams_container.children.length > 0) {
            exams_container.removeChild(exams_container.lastElementChild);
            examples.pop();
            example_count--;
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    async function on_submit_handler(event) {
        event.preventDefault();
        const csrftoken = getCookie('csrftoken');

        const data = {
            title: document.getElementById('title').value,
            description: document.getElementById('description').value,
            example: examples,
            conditions: conditions,
            difficulty: document.getElementById('difficulty').value,
        };
        try {
            const response = await fetch('http://127.0.0.1:8000/create_problem/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data),
            })
            if (response.status === 200) {
                alert("문제 만들기 성공!");
                window.history.back();
            }
            else if (response.status === 403) {
                alert("인증 과정에서 문제가 생겼습니다.");
            }
            else if (response.status === 500) {
                alert("서버 에러");
            }
        } catch (error) {
            console.log(error);
        }
        return false;
    }

    example_add();
</script>
{% endblock %}