<!-- index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}CodeIN{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css"/>
<link rel="stylesheet" href="{$ static 'bootstrap/css/bootstrap.min.css' $}"/>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>-->
<link rel="stylesheet" href="{% static 'css/main/index.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs/loader.js"></script>
{% endblock %}

{% block content %}
<main>
    <div class="title_container">
        <p class="title_text">CodeIN</p>
        <p class="subtitle_text">여러분을 테스트 해보세요!</p>
    </div>
    <div id="monaco" style="height:90vh"></div>
</main>
<!--<script>-->
<!--    let editor;-->

<!--    require.config({paths: {'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs'}});-->
<!--    require(['vs/editor/editor.main'], function () {-->
<!--        editor = monaco.editor.create(document.getElementById('monaco'), {-->
<!--            theme: 'vs-dark',-->
<!--            fontFamily: 'Nanum Gothic Coding',-->
<!--            fontSize: '18px',-->
<!--            automaticLayout: true,-->
<!--            language: 'python',-->
<!--            quickSuggestions: true,-->
<!--            wordWrap: 'on',-->
<!--            minimap: {-->
<!--                enabled: false // 코드 전체를 보여주는 미니맵 활성화-->
<!--            },-->
<!--            value: [-->
<!--                'def solution(a, b):',-->
<!--                '    # 여기에 코드를 작성하세요',-->
<!--                '    answer = 0',-->
<!--                '    return answer'-->
<!--            ].join('\n')-->
<!--        });-->
<!--    });-->
<!--</script>-->
{% endblock %}