<!-- problems.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}CodeIN - 문제 리스트{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/main/problems.css' %}" xmlns:th="http://www.w3.org/1999/xhtml">
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs/loader.js"></script>

{% endblock %}

{% block content %}
<main>
    <div class="title_container">
        <button onclick="window.history.back()" class="title_btn">돌아가기</button>
        <p>코딩테스트 문제</p>
        <button onclick="window.location.href = `{% url 'create_problem' %}`" class="title_btn">문제 만들기</button>
    </div>
    <div class="problems_table_container">
        <table class="problems_table table-hover">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>난이도</th>
                    <th>맞힌 사람</th>
                </tr>
            </thead>
            <tbody>
            {% for problem in list %}
                <tr>
                    <td>{{ problem.id }}</td>
                    <td><a href="/problem/{{ problem.pk }}">{{ problem.title }}</a></td>
                    <td>{{ problem.difficulty }}</td>
                    <td>{{ problem.answer_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}