@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.problems_table_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.problems_table {
    max-width: 1200px;
    width: 100%;
    color: #f9f9f9;
    background: #444444;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
}

.problems_table th {
    text-align: center;
    padding: 0.5rem;
}

.title_container {
    padding: 30px 0;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title_container p {
    text-align: center;
    color: #f9f9f9;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
}

.title_btn {
    color: #f9f9f9;
    background: #444444;
    border: 1px solid #888888;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    text-decoration: none;
}

main {
    font-family: 'Pretendard', system-ui;
    height: 100%;
}

.problem_id, .problem_difficulty, .problem_answer_count {
    text-align: center;
}

.problem_title a {
    color: #a9b9ff;
    text-decoration: none;
}

.problem_tr {
    height: 40px;
}

thead {
    border-bottom: 1px solid #888888;
}

@media (max-width: 1200px) {
    main {
        padding: 5px;
    }
}