@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

main {
    font-family: "Pretendard", system-ui;
    justify-content: center;
    align-items: center;
    display: flex;
}

body {
   background-color: #242424;
}

.container {
    position: relative;
    top: 50%;
}

.mypage_title {
    margin-top: 8vh;
}

.mypage_title p {
    text-align: center;
    color: #f9f9f9;
    font-size: 48px;
}

.mypage_content{
    color: #f9f9f9;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 500px;
}

.form-control {
    background-color: #363636;
    color: #f9f9f9;
}

.form-control:focus {
    background-color: #565656;
    color: #fff;
}

.back_btn {
    padding: 5px 20px;
    border: 0px;
    border-radius: 10px 0px 10px 0px;
    background-color: #464646;
    color: #fff;
}

.mypage_info {
    padding: 40px 40px 40px 40px;
}

.edit_btn {
    margin-top: 10px;
    width: 100%;
    background-color: #464646;
    color: #f9f9f9;
}